/*border box sizing to build boxes from the outside in
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*background centered, set to cover, no repeat
*/
body {
    background-image: url("https://wallpapercave.com/wp/wp2967401.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flexbox;
    height: 100vh;

}

/* set up heading with google font, center them, set size and padding to make it look gooooood 
*/
h1 {
    font-family: 'Luckiest Guy', cursive;
    color: yellow;
    text-align: center;
    text-shadow: 4px 4px darkblue;
    padding: 20px;
    font-size: 400%;
}
h2 {
    font-family: 'Luckiest Guy', cursive;
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px darkblue;
    padding: 10px;
    font-size: 200%;
}
/* set size, flex and wrap to build the grid of the board
    auto margin to center
    set perspective to 1000px to build a 3d perspective
*/
#board {
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

/*can calculate size of cards!
set card position to relative so that the front and back images know where to position
if the card isnt positioned, the images will be positioned to the document body
set transform scale of 1 as a base scale
set transform style to preserve 3d to insert the card into the 3d container 
set transition time to add the animation over the given time
*/
.card {
    width: calc(16.666667% - 10px);
    height: calc(33.33333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

/*use "active" pseudoclass to change values when the card is clicked
transform the scale to 95% and duration of .2s so card shrinks when clicked
*/
.card:active {
    transform: scale(.95);
    transition: transform .2s;
}

/* make a flip class for the cards for flip function
    rotate 180degrees on Y axis to flip it
*/
.card.flip {
    transform: rotateY(180deg)
}
/* set same descriptions for front and back of card descriptions
    absolute position so theyre stacked relative to the .card, two classes so can switch between classes
    use backface-visibility to hide the back face of each image when it is flipped
    */
.front,
.back {
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: aqua;
    backface-visibility: hidden;
}

/* rotate the front class to reveal the back class
*/
.front {
    transform: rotateY(180deg);
}