* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2967401.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#board {
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    //border: 4px solid limegreen;
    border-radius: 6px;
    //background-color: greenyellow;
}

.card {
    width: calc(16.666667% - 10px);
    height: calc(33.33333% - 10px);
    margin: 5px;
    position: relative;
}

.front,
.back {
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: aqua;
}
