* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 90vh;
}

#board {
    border: 2px solid limegreen;
}

.card {
    border: 2px solid darkblue;
}



img {
    width: 100px;

}